.upload-progress {
    display: none;
    height: 20px;
    width: 100%;
    border: 1px solid #cccccf;
    padding: 2px;
    margin: 0 0 1.125rem 0;
    border-radius: 50px;
}
.upload-progress .upload-progress-bar {
    height: 100%;
    width: 0%;
    background: #63c9d5;
    border-radius: 50px;
}
.upload-progress.show {
    display: block;
}